.container {
  flex: 1;
}
.bgImage {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: 0.51;
}
.headerTextContainer {
  align-self: flex-start;
  margin-left: 40;
}
.headerText {
  font-family: 'heading';
  font-size: 100;
}
.nextBtn {
  margin-top: auto;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 220;
  height: 50px;
  margin-bottom: 40;
  border-radius: 25px;
}
.nextBtnTxt {
  font-family: 'txt';
  font-size: 16;
}
