.infoContainer {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 600px;
  height: 45px;
  width: 200px;
  border-radius: 25px;
  margin: 0 10px 0 10px;
}
.textContainer {
  align-items: center;
  justify-content: center;
  width: 80%;
}
.btnContainer {
  align-items: center;
  justify-content: center;
  width: 20%;
}
.infoTitle {
  font-family: 'txt';
}

.contentContainer {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.458);
  padding: 40px 50px;
}
.contentWrapper {
  width: 100%;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.modalCloseBtn {
  align-self: flex-end;
}
