


.container {
    padding: 25px;
    flex: 1;
    height: 100%;
    flex-direction: column; 
    justify-content: space-around;
}

.header {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 100%;
    height: 30%;
    flex: 1;
    flex-direction: column;
}

.title {
    font-family: 'heading';
    font-size: 3rem;
    margin-bottom: 10px;
}

.highlight {
    flex: 1;
}

.text {
    font-family: 'txt';
}

.border {
    border-bottom-color: black;
    border-bottom-width: 2px;
    width: 100%;
    background-color: pink;
    height: 1px;
    margin-top: 15px;
    align-self: center;
}

.tripContainer {
   
}

.catalogue {
    flex: 1;
    margin-top: 30px;
}