.container {
    flex: 1;
    margin-top: 5;
    height: 100%;
}

.imgbackground {
    margin-top: 15;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.topInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    font-family: 'heading';
    font-size: 1.5rem;
    color: white;
    width: 75%;
    height: 50%;
}

.text {
    font-family: 'txt';
    color: white;
    text-align: center;
}

.bottomInfo {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
