.container {
    flex: 1;
    margin-top: 5;
}

.imgbackground {
    margin-top: 15;
    height: 150;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.topInfos{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'heading';
    font-size: 1.5rem;
    color: white;
    width: 85%;
}

.text {
    font-family: 'txt';
    color: white;
}

.bottomInfo {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
